[package]
name = "imap-codec"
description = "Low-level IMAP Parser and Serializer"
keywords = ["email", "imap", "parser", "codec"]
version = "0.5.0"
authors = ["Damian Poddebniak <poddebniak@mailbox.org>"]
repository = "https://github.com/duesee/imap-codec"
license = "MIT OR Apache-2.0"
edition = "2018"

[features]
default = []
arbitrary = ["imap-types/arbitrary"]
serde = ["dep:serde", "chrono/serde", "imap-types/serde"]
nom = []

# IMAP
starttls = ["imap-types/starttls"]

# IMAP Extensions
ext_idle = ["imap-types/ext_idle"]
ext_enable = ["imap-types/ext_enable"]
ext_compress = ["imap-types/ext_compress"]

# ext_mailbox_referrals = ["ext_referrals"] # TODO
# ext_login_referrals = ["ext_referrals"]   # TODO
# ext_referrals = []                        # TODO
# ext_saslir = []                           # TODO

[dependencies]
abnf-core = "0.4"
base64 = "0.13"
chrono = { version = "0.4", default-features = false, features = ["alloc"] }
imap-types = { path = "imap-types", default-features = false }
nom = "6"
rand = "0.8"
serde = { version = "1.0", features = ["derive"], optional = true }

[dev-dependencies]
ansi_term = "0.12"
criterion = "0.3"

[[bench]]
name = "parse_command"
harness = false

[[bench]]
name = "parse_response"
harness = false

[workspace]
members = [
    "fuzz",
    "imap-types",
    "imap-types/fuzz",
]
