[workspace]
resolver = "2"
members = [
    "bindings/imap-codec-python",
    "imap-codec",
    "imap-codec/benchmark",
    "imap-codec/fuzz",
    "imap-types",
    "imap-types/fuzz",
    "assets/demos/tokio-support",
    "assets/demos/tokio-client",
    "assets/demos/tokio-server",
]
