name: Check API

on:
  push:
    branches: [ main ]
    paths:
      - '**.rs'
      - '**.toml'
      - '.github/workflows/**'
  pull_request:
    branches: [ main ]
    paths:
      - '**.rs'
      - '**.toml'
      - '.github/workflows/**'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  semver:
    runs-on: ubuntu-latest

    steps:
      - name: Setup | Install cargo-semver-checks
        run: cargo install cargo-semver-checks --locked

      - name: Setup | Cache dependencies
        uses: Swatinem/rust-cache@v2.2.1
        id: cache
        with:
          cache-all-crates: true

      - name: Setup | Checkout code
        uses: actions/checkout@v3

      - name: Check for SemVer violations | imap-types
        run: |
          cd imap-types
          cargo semver-checks check-release

      - name: Check for SemVer violations | imap-codec
        run: cargo semver-checks check-release
