name: audit
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    # 21:43 on Wednesday and Sunday. (Thanks, crontab.guru)
    - cron: '43 21 * * 3,0'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  audit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: ./.github/actions/cache_restore
      - run: cargo install just
      - run: just audit
      - uses: ./.github/actions/cache_save
