name: cache
on:
  schedule:
    # 21:43 on Wednesday and Sunday. (Thanks, crontab.guru)
    - cron: '43 21 * * 3,0'
  workflow_dispatch:

jobs:
  create:
    runs-on: ubuntu-latest

    steps:
      - run: cargo install just
      - run: just install
      - uses: actions/cache/save@v4
        with:
          path: |
            # See https://doc.rust-lang.org/cargo/guide/cargo-home.html#caching-the-cargo-home-in-ci
            ~/.cargo/.crates.toml
            ~/.cargo/.crates2.json
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: main|${{ runner.os }}|${{ github.run_attempt }}
