name: main
on:
  push:
    branches: [ main ]
    paths:
      - "**.rs"
      - "**.toml"
      - ".github/workflows/**"
      - "justfile"
  pull_request:
    branches: [ main ]
    paths:
      - "**.rs"
      - "**.toml"
      - ".github/workflows/**"
      - "justfile"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/cache_restore
      - run: cargo install just
      - run: just check
      - uses: ./.github/actions/cache_save

  test:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/cache_restore
      - run: cargo install just
      - run: just test
      - uses: ./.github/actions/cache_save

# benchmark:
#   runs-on: ubuntu-latest

#   steps:
#     - uses: actions/checkout@v4

#     - uses: ./.github/actions/cache_restore
#     - run: cargo install just
#     - run: just bench_against_main
#     - uses: ./.github/actions/cache_save

  coverage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/cache_restore
      - run: cargo install just
      - run: just coverage
      - uses: ./.github/actions/cache_save

      - uses: coverallsapp/github-action@643bc377ffa44ace6394b2b5d0d3950076de9f63
        with:
          format: lcov
          file: target/coverage/coverage.lcov

      - name: Archive code coverage results
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage-report
          path: target/coverage/**

  fuzz:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/cache_restore
      - run: cargo install just
      - run: just fuzz
      - uses: ./.github/actions/cache_save

  minimal_versions:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/cache_restore
      - run: cargo install just
      - run: just minimal_versions
      - uses: ./.github/actions/cache_save

